.App {
    margin: 20px;
}

input {
    border: 1px solid #000;
    padding: 3px 5px;
}

form button {
    margin: 0 0 0 10px;
}

button {
    border: 1px solid #000;
    padding: 3px 5px;
}

ul {
    padding: 0 0 0 20px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}